.register{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%) ,url("../../assets/landing.jpg");
    background-size: cover;
    position: relative;

    .alert{
        color: red;
    }

    .top{
        .wrapper{
            padding: 20px 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo{
                height: 80px;
            }

            .loginButton{
                background-color: rgb(243, 56, 140);
                border: none;
                color: white;
                border-radius: 5px;
                padding: 5px 15px;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }

    .container{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;

        h1{
            font-size: 40px;
            text-shadow: 2px 2px 2px rgb(242, 30, 157)
        }

        h2{
            margin: 10px;
            font-size: 30px;
            text-shadow: 2px 2px 2px rgb(242, 30, 157)
        }

        p{
            font-size: 20px;
        }

        .input{
            width: 35%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            height: 35px;
            border-radius: 10px;

            input{
                flex: 9;
                height: 100%;
                border: none;
                padding: 0 10px;
            }

            .registerButton{
                flex: 3;
                height: 100%;
                background-color: rgb(243, 56, 140);
                color: white;
                font-weight: 500;
                font-size: 20px;
                cursor: pointer;
            }
        }

        form{
            width: 300px;
            height: 300px;
            padding: 30px;
            border-radius: 10px;
            background-color: rgba(0,0,0,0.5);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 20px;

            input{
                height: 40px;
                border-radius: 10px;
                background-color: gray;
                color: white;
                padding-left: 10px;
                border: none;

                &::placeholder{
                    color: lightgray;
                }
            }

            button{
                height: 40px;
                border-radius: 10px;
                background-color: rgb(243, 56, 140);
                color: white;
                border: none;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
            }

            span{
                color: lightgray;
            }

            .link{

                margin-left: 10px;
                
                &:hover{
                    color: rgb(243, 56, 140);
                }
            }
        }
    }
}